<div>
    <div class="input-group">
      <input type="text" class="form-control search" name="searchText" ng-model="searchText" ng-model-options="{ debounce: 500 }" ng-change="search()" /> 
      <button class="btn btn-primary btn-add-contact" ng-click="setShowAddContactRow(true)"> <i class="fas fa-user-plus"></i></button>
    </div>
    <table class="table table-striped contacts-table">
        <thead>
          <tr>
            <th scope="col">Avatar</th>
            <th scope="col">
              <div class="header">
                <span>First</span> 
                <i class="fas fa-arrow-down" ng-click="search(pagination.currentPage, 'name.first', 1)"></i>
                <i class="fas fa-arrow-up" ng-click="search(pagination.currentPage, 'name.first', -1)"></i>
              </div>
            </th>
            <th scope="col">
              <div class="header">
                <span>Last</span> 
                <i class="fas fa-arrow-down" ng-click="search(pagination.currentPage, 'name.last', 1)"></i>
                <i class="fas fa-arrow-up" ng-click="search(pagination.currentPage, 'name.last', -1)"></i>
              </div>
              </th>
            <th scope="col">
              <div class="header">
                <span>Phone</span> 
                <i class="fas fa-arrow-down" ng-click="search(pagination.currentPage, 'cell', 1)"></i>
                <i class="fas fa-arrow-up" ng-click="search(pagination.currentPage, 'cell', -1)"></i>
              </div>
            </th>
            <th scope="col">
              <div class="header">
                <span>Address</span> 
                <i class="fas fa-arrow-down" ng-click="search(pagination.currentPage, 'location.street', 1)"></i>
                <i class="fas fa-arrow-up" ng-click="search(pagination.currentPage, 'location.street', -1)"></i>
              </div>
            </th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="showAddContactRow"> 
              <td></td>
              <td>
                <input class="form-control" type="text" name="firstName" ng-model="newContact.name.first"> 
              </td>
              <td>
                <input class="form-control" type="text" name="lastName" ng-model="newContact.name.last"> 
              </td>
              <td>
                <input class="form-control" type="tel" name="cell" ng-model="newContact.cell"> 
              </td>
              <td>
                <input class="form-control" type="text" name="street" ng-model="newContact.location.street"> 
              </td>
              <td>
                <div class="btn-group">
                  <button class="btn-sm btn-success first" ng-click="saveContact()"><i class="far fa-save"></i></button>
                  <button class="btn-sm btn-danger" ng-click="setShowAddContactRow(false)"><i class="fas fa-ban"></i></button>
                </div>
              </td>
          </tr>
          <tr ng-repeat="contact in contacts">
            <td>
              <img ng-if="contact.picture[0].thumbnail" class="rounded" ng-src="{{contact.picture[0].thumbnail}}">
              <div ng-if="!contact.picture[0].thumbnail" class="contact-avatar">
                  {{ contact.name[0].first | limitTo:1 }}
                  {{ contact.name[0].last | limitTo:1 }}
              </div> 
            </td>
            <td>
              <span ng-if="!showEditRow(contact._id)">{{contact.name[0].first}}</span>
              <input ng-if="showEditRow(contact._id)" class="form-control" type="text" name="firstName" ng-model="contact.name[0].first"> 
            </td>
            <td>
              <span ng-if="!showEditRow(contact._id)">{{contact.name[0].last}}</span>
              <input ng-if="showEditRow(contact._id)" class="form-control" type="text" name="lastName" ng-model="contact.name[0].last"> 
            </td>
            <td>
              <span ng-if="!showEditRow(contact._id)">{{contact.cell}}</span>
              <input ng-if="showEditRow(contact._id)" class="form-control" type="text" name="cell" ng-model="contact.cell"> 
            </td>
            <td>
              <span ng-if="!showEditRow(contact._id)">{{contact.location[0].street}}</span>
              <input ng-if="showEditRow(contact._id)" class="form-control" type="text" name="cell" ng-model="contact.location[0].street"> 
            </td>
            <td>
              <div ng-if="!showEditRow(contact._id)" class="btn-group">
                <button class="btn-sm btn-danger first" ng-click="deleteContact(contact._id)"><i class="fas fa-trash"></i></button>
                <button class="btn-sm btn-default" ng-click="setEditContactId(contact._id)"><i class="fas fa-user-edit"></i></button>
              </div>
              <div ng-if="showEditRow(contact._id)" class="btn-group">
                <button class="btn-sm btn-success first" ng-click="updateContact(contact)"><i class="far fa-save"></i></button>
                <button class="btn-sm btn-danger" ng-click="setEditContactId(null)"><i class="fas fa-ban"></i></button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Pagination" class="pagination-nav">
          <ul class="pagination">
            <li class="page-item" ng-repeat="page in [].constructor(pagination.pages) track by $index"
                                  ng-click="search($index, sort.sortType, sort.sortDirection)"
                                  ng-class="{active: $index === pagination.currentPage}">
              <a class="page-link">{{$index + 1}}</a>
            </li>
          </ul>
      </nav>
</div>