<div class="container">
    <button class="btn btn-success" ng-click="search()"> search</button>
    <input type="text" name="searchText" ng-model="searchText" /> 
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Avatar</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-if="showAddContactRow"> 
              <td></td>
              <td>
                <input type="text" name="firstName" ng-model="newContact.name.first"> 
              </td>
              <td>
                <input type="text" name="lastName" ng-model="newContact.name.last"> 
              </td>
              <td>
                <input type="tel" name="cell" ng-model="newContact.cell"> 
              </td>
              <td>
                <input type="text" name="street" ng-model="newContact.location.street"> 
              </td>
              <td>
                <button class="btn-sm btn-success" ng-click="saveContact()">save</button>
                <button class="btn-sm btn-danger" ng-click="setShowAddContactRow(false)">x</button>
              </td>
          </tr>
          <tr ng-repeat="contact in contacts">
            <td><img class="rounded" ng-src="{{contact.picture[0].thumbnail}}"></td>
            <td>{{contact.name[0].first}}</td>
            <td>{{contact.name[0].last}}</td>
            <td>{{contact.cell}}</td>
            <td>{{contact.location[0].street}}</td>
            <td>
              <button class="btn-sm btn-danger" ng-click="deleteContact(contact._id)">x</button>
            </td>
          </tr>
        </tbody>
      </table>
      <nav aria-label="Pagination">
          <ul class="pagination">
            <li class="page-item" ng-repeat="page in [].constructor(pagination.pages) track by $index"
                                  ng-click="search($index)"
                                  ng-class="{active: $index === pagination.currentPage}">
              <a class="page-link">{{$index + 1}}</a>
            </li>
          </ul>
      </nav>
    <button class="btn btn-success" ng-click="setShowAddContactRow(true)"> + Add Contact</button>
</div>