<div class="container">
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Avatar</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="contact in contacts">
            <td><img class="rounded" ng-src="{{contact.picture.thumbnail}}"></td>
            <td>{{contact.name.first}}</td>
            <td>{{contact.name.last}}</td>
            <td>{{contact.phone}}</td>
            <td>{{contact.location.street}}</td>
            <td>
              <button class="btn-sm btn-danger">x</button>
            </td>
          </tr>
        </tbody>
      </table>
    <a ui-sref="another">Add Contact</a>
</div>