/* styles in src/style directory are applied to the whole page */
@import "~bootstrap/dist/css/bootstrap.css";
body {
}

a {
}

div.header{
  display: flex;
  align-items: center;
}

i.fas.fa-arrow-down,
i.fas.fa-arrow-up {
  margin-left: 4px;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}