/* styles in src/style directory are applied to the whole page */
@import "~bootstrap/dist/css/bootstrap.css";
body {
  padding: 10px;
}

.table thead th {
  border-top: none;
}

.contacts-table tbody tr td span{
  text-transform: capitalize;
}

.app-container {
  display: flex;
  justify-content: center;
}

button.btn-add-contact {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.pagination-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group {
  margin: 20px 0;
}
.btn-group > button.first {
  margin-right: 4px;
}

div.search-wrap {
  display: flex;
  padding: 10px 0;
}
div.header{
  display: flex;
  align-items: center;
}

i.fas.fa-arrow-down,
i.fas.fa-arrow-up {
  margin-left: 4px;
}

main {
  padding: 1em;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}